:root {
  /* Fonts */
  --font: 'Kumbh Sans', sans-serif;

  /* Colors */ 
  --orange: hsl(26, 100%, 55%);
  --paleOrange: hsl(25, 100%, 94%);
  --darkBlue: hsl(220, 13%, 13%);
  --dark-gray: hsl(219, 9%, 45%);
  --grayishBlue: hsl(220, 14%, 75%);
  --lightGrayishBlue: hsl(223, 64%, 98%);
  --white: #FFF;
  --black: #000;

  /* Width layout */
  --mobile: 375px;
  --desktop: 1440px;
}
html {
  box-sizing: border-box;
  font-size: 62.5%; /*1REM = 10px*/
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-size: 1.6rem; /* = 16px */
  line-height: 1.8;
  font-family: var(--font);
  padding: 0 130px
}


/* Header */ 

.header {
  display: flex;
  height: 100px;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid var(--lightGrayishBlue);
  margin-bottom: 50px;
}

.nav-list {
  display: flex;
  list-style: none;
  margin: 0;
}

.header-container-one,
.header-container-two {
  display: flex;
}

.nav-list__link {
  text-decoration: none;
  margin-right: 25px;
  color: var(--dark-gray);
}

.nav-list__link:hover {
  color: var(--orange);
  text-decoration: underline;
  transition: .4s;
}

.cart {
  margin: auto;
  margin-right: 30px;
}

.profile__image {
  width: 40px;
  height: 40px;
}