:root {
  /* Fonts */
  --font: 'Kumbh Sans', sans-serif;

  /* Colors */ 
  --orange: hsl(26, 100%, 55%);
  --paleOrange: hsl(25, 100%, 94%);
  --darkBlue: hsl(220, 13%, 13%);
  --dark-gray: hsl(219, 9%, 45%);
  --grayishBlue: hsl(220, 14%, 75%);
  --lightGrayishBlue: hsl(223, 64%, 98%);
  --white: #FFF;
  --black: #000;

  /* Width layout */
  --mobile: 375px;
  --desktop: 1440px;
}
html {
  box-sizing: border-box;
  font-size: 62.5%; /*1REM = 10px*/
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-size: 1.6rem; /* = 16px */
  line-height: 1.8;
  font-family: var(--font);
}


/* Header */ 
