:root {
  /* Fonts */
  --font: 'Kumbh Sans', sans-serif;

  /* Colors */ 
  --orange: hsl(26, 100%, 55%);
  --paleOrange: hsl(25, 100%, 94%);
  --darkBlue: hsl(220, 13%, 13%);
  --dark-gray: hsl(219, 9%, 45%);
  --grayishBlue: hsl(220, 14%, 75%);
  --lightGrayishBlue: hsl(223, 64%, 98%);
  --white: #FFF;
  --black: #000;

  /* Width layout */
  --mobile: 375px;
  --desktop: 1440px;
}
html {
  box-sizing: border-box;
  font-size: 62.5%; /*1REM = 10px*/
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-size: 1.6rem; /* = 16px */
  line-height: 1.8;
  font-family: var(--font);
  padding: 0 130px
}

/* Utilidades */ 

img {
  max-width: 100%;
}

.product-image-radius {
  border-radius: 20px;
}


/* Header */ 

.header {
  display: flex;
  height: 100px;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid var(--lightGrayishBlue);
  margin-bottom: 50px;
}

.nav-list {
  display: flex;
  list-style: none;
  margin: 0;
}

.header-container-one,
.header-container-two {
  display: flex;
}

.nav-list__link {
  text-decoration: none;
  margin-right: 25px;
  color: var(--dark-gray);
}

.nav-list__link:hover {
  color: var(--orange);
  text-decoration: underline;
  transition: .4s;
}

.cart {
  margin: auto;
  margin-right: 30px;
}

.profile__image {
  width: 40px;
  height: 40px;
}


/* Main */ 

.main {
  display: flex;
}

.main-container-one,
.main-container-two {
  flex: 1;
  padding: 10px 50px;
}

.main-product-images {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
}

.product-image-thumbnail {
  width: 80px;
  height: 80px;
}

.main-container-two__title5 {
  text-transform: uppercase;
  color: var(--orange);
  letter-spacing: 2px;
  margin-bottom: 10px;
}

.main-container-two__title {
  line-height: 40px;
  letter-spacing: 1px;
  margin-top: 0;
}

.main-container-two__pgraph,
.price-discount {
  font-size: 14px;
  color: var(--dark-gray);
}

.price-container {
  display: flex;
}

.price-container__pgraph {
  display: block;
  margin: 0;
}

.price-container__pgraph:nth-child(1) {
  font-weight: 700;
  font-size: 25px;
}

.price-container__pgraph:nth-child(2) {
  margin: auto;
  margin-left: 15px;
  background-color: var(--paleOrange);
  padding: 0 7px;
  color: var(--orange);
  border-radius: 5px;
}

.price-discount {
  margin-top: 0;
  text-decoration: line-through;
  color: var(--grayishBlue);
}

.form {
  display: flex;
  height: 40px;
  align-items: center;
}

.form p {
  display: block;
  text-align: center;
}

.form-pgraph {
  width: 130px;
  display: inline-block;
  margin-right: 30px;
  background-color: var(--lightGrayishBlue);
  padding: 10px;
  border-radius: 10px;
}

.form-pgraph__image:nth-child(1) {
  margin-right: 30px;
  margin-bottom: 3px;
}

.form-pgraph__image:nth-child(2) {
  margin-left: 30px;
}

.form-button {
  width: 70%;
  padding: 10px 0 10px 0;
  border-color: var(--orange);
  border-radius: 10px;
  color: var(--white);
  background-color: var(--orange);
  outline-color: var(--orange);
}

.form-button:hover {
  color: var(--black);
  background-color: var(--paleOrange);
  border-color: var(--paleOrange);
  transition: .4s;
}

.attribution {
  text-align: center;
  font-size: 12px;
}

.button-cart-image {
  height: 12px;
  margin-right: 10px;
}
